{% extends 'base.html' %}
{% block content %}
    {% if user.is_authenticated %}
        <table class="table table-striped table-hover table-bordered">
            <thead class="table-dark">
                <tr>
                    <th scope="col">Nome</th>
                    <th scope="col">Email</th>
                    <th scope="col">Celular</th>
                    <th scope="col">Endereço</th>
                    <th scope="col">Cidade</th>
                    <th scope="col">Estado</th>
                    <th scope="col">CEP</th>
                    <th scope="col">Criado em</th>
                    <th scope="col">ID</th>
                </tr>
            </thead>
            <tbody>
            {% if records %}
                {% for record in records %}
                    <tr>
                        <td>{{ record.first_name }} {{ record.last_name }}</td>
                        <td>{{ record.email }}</td>
                        <td>{{ record.phone }}</td>
                        <td>{{ record.address }}</td>
                        <td>{{ record.city }}</td>
                        <td>{{ record.state }}</td>
                        <td>{{ record.zipcode }}</td>
                        <td>{{ record.created_at }}</td>
                        <td><a href={% url 'crm:record' record.id %}>{{ record.id }}</a></td>
                    </tr>
                {% endfor %}
            {% endif %}
            </tbody>
        </table>

    {% else %}
        <div class="col-md-6 offset-md-3">
            <h1>Login</h1>
            <br>
            <form method="post" action="{% url 'crm:home' %}">
                {% csrf_token %}
                    <div class="mb-3">
                        <input type="text" class="form-control" name="username" placeholder="Usuário" required>
                    </div>
                    <div class="mb-3">
                        <input type="password" class="form-control" name="password" placeholder="Senha" required>
                    </div>
                    <br>
                    <button type="submit" class="btn btn-secondary">Login</button>
            </form>
        </div>
    {% endif %}
{% endblock %}
